/**
 * Stylesheet to layout the gradeCalculator
 */

/* main wrapper */
#grade-table {
    width: 352px;
    margin: 31px auto 20px auto;
}

/* tr average and badge pill */
.grade-avg {
    border-top: 2px solid;
    border-bottom: 4px double;
}
.badge.badge-pill {
    margin-left: 2px;
}

/* input fields */
#grade, #weighting {
    border: 1px solid #d7d7d7;
    border-radius: .2rem;
    padding: 2px 8px 3px 8px;
    color: #515151;
}

/* grade entry layout */
td.grade, td.weighting { padding-left: 21px; }

/* delete icon */
td.del {
    text-align: right;
}
td.del img {
    opacity: .6;
    height: 12px;
    margin-right: 3px;
    cursor: pointer;
}
td.del img:hover {
    opacity: 1;
}

/* reset link */
#gradeCalculatorReset {
    display: block;
    text-align: center;
    margin-bottom: 80px;
}