body {
    padding-top: 100px;
}

.card-module .card-text {
    line-height: 1.7;
    padding-left: 23px;
}

.card-module .card-text img {
    position: absolute;
    height: 14px;
    opacity: .4;
    margin-top: 7px;
    margin-left: -23px;
}

.new-entity {
    text-align: right;
    padding-top: 6px;
}

.content.scaffold-list > h1 {
    margin-bottom: 20px;
}

.content.scaffold-create form {
    margin-top: 30px;
}

.content.scaffold-create form fieldset.buttons {
    text-align: right;
}

.content.scaffold-edit form fieldset.buttons {
    text-align: right;
}

.content.scaffold-create form input.btn,
.content.scaffold-edit form input.btn {
    margin-top: 18px;
}

.fieldcontain label {
    width: 150px;
}

.fieldcontain input, .fieldcontain select {
    border-radius: .25rem;
    border: 1px solid #ced4da;
    width: calc(100% - 150px);
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin-bottom: .8rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fieldcontain input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin: .8rem 0;
    vertical-align: bottom;
}

.fieldcontain select#date_day {
    margin-left: -3px;
}

.fieldcontain select#date_day,
.fieldcontain select#date_month,
.fieldcontain select#date_year {
    width: calc(33.3% - 60px);
    margin-right: 10px;
}
.fieldcontain select#date_year {
    margin-right: 0;
}

.fieldcontain ul {
    display: none;
}
.content.scaffold-create .fieldcontain a,
.content.scaffold-edit .fieldcontain a {
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 15px;
}

.nav-back {
    margin-bottom: 12px;
}

.nav-back img {
    height: 12px;
    margin-right: 4px;
}

.property-list {
    list-style: none;
    padding-left: 0;
    margin-top: 16px;
}

.property-list li {
    padding: 3px 0;
}

.property-list .property-label {
    display: inline-block;
    width: 100px;
    color: #9e9e9e;
}

.property-list .property-value {
    display: inline-block;
}

.content.scaffold-show fieldset.buttons {
    margin-top: 22px;
}

.content.scaffold-show .btn {
    margin-right: 11px;
}

.module-actions {
    position:  absolute;
    right: 11px;
    top: 12px;
}

.module-actions img {
    height: 12px;
    opacity: .42;
    margin-right: 5px;
}

.module-actions img:hover {
    opacity: 1;
}

.exam-link:hover li {
    background-color: rgba(0, 0, 0, .03);
}

.exam-link, .exam-link:hover {
    text-decoration: none;
    color: #212529;
}